In [111]:
import pandas as pd
import numpy as np

In [75]:
lp = pd.read_csv('laptops.csv', encoding='latin-1')

In [76]:
lp

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

In [77]:
lp.count()

Laptop          2160
Status          2160
Brand           2160
Model           2160
CPU             2160
RAM             2160
Storage         2160
Storage type    2118
GPU              789
Screen          2156
Touch           2160
Final Price     2160
dtype: int64

In [80]:
lp.Brand.unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [82]:
lp.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [87]:
lp['Final Price'][lp.Brand == 'Dell'].max()

3936.0

In [88]:
lp['Screen'].median()

15.6

In [89]:
lp['Screen'].mode()

0    15.6
Name: Screen, dtype: float64

In [91]:
lp['Screen'].fillna(lp['Screen'].mode(), inplace=True)

/var/folders/34/vh3j37w96ysc7vlj8s9tfs3m0000gn/T/ipykernel_8612/3839194411.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  lp['Screen'].fillna(lp['Screen'].mode(), inplace=True)

In [92]:
lp.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             0
Touch              0
Final Price        0
dtype: int64

In [93]:
lp.Screen.median()

15.6

In [97]:
lp_injoo = lp[lp.Brand == 'Innjoo'][['Storage', 'RAM', 'Screen']]

In [98]:
lp_injoo

      Storage  RAM  Screen
1478      256    8    15.6
1479      512    8    15.6
1480       64    4    14.1
1481       64    6    14.1
1482      128    6    14.1
1483      128    6    14.1

In [102]:
X = lp_injoo.values

In [104]:
X

array([[256. ,   8. ,  15.6],
       [512. ,   8. ,  15.6],
       [ 64. ,   4. ,  14.1],
       [ 64. ,   6. ,  14.1],
       [128. ,   6. ,  14.1],
       [128. ,   6. ,  14.1]])

In [109]:
XTX = X.T.dot(X)

In [110]:
XTX

array([[3.68640e+05, 8.32000e+03, 1.73952e+04],
       [8.32000e+03, 2.52000e+02, 5.59800e+02],
       [1.73952e+04, 5.59800e+02, 1.28196e+03]])

In [116]:
XTX_inv = np.linalg.inv(XTX)

In [115]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [117]:
w = XTX_inv.dot(X.T).dot(y)

In [119]:
w.sum().round(2)

91.3